best.txt
core/files/test/
files/test/
files/results/
files/vanLonHolvoet15/
files/dataset5000/
files/dataset5000.tar
files/dataset10k/
files/dataset10k.tar
files/train-dataset/
example/src/main/java/rinde/sim/playground/
.DS_Store
target/
scenario-util/files/generator/*
scenario-util/files/test/gendreau06/req_rapide_*
scenario-util/files/dataset/*
scenario-util/files/test/times/*
org.sonar.ide.eclipse.core.prefs
*.log
